body{
  margin: 0;
  height: 100vh;
}

.titleSize{
  font-size: 1.9em;
  color: white;
  text-transform: uppercase;
}

.shadow-div {
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  transition: ease-in 0.5s;
}

.open-side {
  background-color: white;
  height: 100vh;
  width: 60vw;
  transition: ease-out 0.5s;
  overflow-x: hidden;
}

.side-item{
  height: 15%;
  z-index: 2;
  color: white;
  border-bottom: solid 4px white;
  width: 100%;
  font-size: 30px;
}

#root{
  height:100%;
  position: relative;
}

.hide{
  display: none;
}

.blue-purple-gradient{
  background-image: linear-gradient(#80C3DF, #B5BAE8);
}

.header-gradient{
  background-image: linear-gradient(to right, #80C3DF, #B5BAE8);
}

.purple{
  background-color:#B5BAE8;
}

.input-text{
  font-size: 11vw;
  text-align: center;
}

.showError{
  display: block;
}

.cursor-pointer{
  cursor: pointer;
}

.plus-sign,
.plane-sign {
  font-size: 40px;
}

.footer{
  position: relative;
}

.plus-sign{
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 10;
}

.plane-sign {
  position: fixed;
  left: 5%;
  bottom: 5%;
  z-index: 10;
}

input {
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom-style: hidden;
      padding: 10px;
}

input:focus{
  outline: none;
}

::placeholder {
  color:grey;
  font-size: 30px;
}

.signup-input ::placeholder{
  color:grey;
  font-size: 20px;
}

.purple-font {
  color: #B5BAE8;
}

.blue-purple-gradient{
  background-image: linear-gradient(#80C3DF, #B5BAE8);
}

input[type="text"]
{
    font-size:24px;
}
